In [1]:
import mysql.connector

In [2]:
mydb= mysql.connector.connect(host="localhost",user='username',passwd="your password")
mycur=mydb.cursor()
#creating a database
mycur.execute("CREATE DATABASE test")
#showing database
mycur.execute("SHOW DATABASES")
for db in mycur:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('testdb',)
('world',)

In [3]:
mydb= mysql.connector.connect(host="localhost",user="root",passwd="orion",database="testdb")
mycur=mydb.cursor()
#creating a table in database
mycur.execute("create table Detail(Name varchar(255),Age integer(10))")

In [4]:
#displaying table
mycur.execute("show tables")
for i in mycur:
    print(i)

('detail',)
('student',)
('teacher',)

In [5]:
sql="INSERT INTO student(name,age) VALUES(%s,%s)"
student1=("Vivek",19)
students=[("Chotoo",42),("Amit",36)]
#enter singlr value in table
mycur.execute(sql,student1)
mydb.commit()
#entering multiple values in the table
mycur.executemany(sql,students)
mydb.commit()

In [6]:
mycur.execute("select * from student")
#fetching all the data from table and displaying it
result= mycur.fetchall()
for i in result:
    print(i)

('Utkarsh', 18)
('Tanish', 15)
('Shambhu nath mishra', 47)
('Vivek', 19)
('Chotoo', 42)
('Amit', 36)
('Vivek', 19)
('Chotoo', 42)
('Amit', 36)

In [7]:
#using where command
mycur.execute("select * from student where age>20 && age<40")
result= mycur.fetchall()
for i in result:
    print(i)

('Amit', 36)
('Amit', 36)

In [8]:
#using like command
mycur.execute("select * from student where name like '%t%'")
result= mycur.fetchall()
for i in result:
    print(i)

('Utkarsh', 18)
('Tanish', 15)
('Shambhu nath mishra', 47)
('Chotoo', 42)
('Amit', 36)
('Chotoo', 42)
('Amit', 36)

In [9]:
#update the value in the table
mycur.execute("update student set age=19 where name='Utkarsh'")
mydb.commit()
#display the table
mycur.execute("select * from student")
result= mycur.fetchall()
for i in result:
    print(i)

('Utkarsh', 19)
('Tanish', 15)
('Shambhu nath mishra', 47)
('Vivek', 19)
('Chotoo', 42)
('Amit', 36)
('Vivek', 19)
('Chotoo', 42)
('Amit', 36)

In [10]:
#using LIMIT keyword
sql="Select * from student LIMIT 3 OFFSET 2"
mycur.execute(sql)
result= mycur.fetchall()
for i in result:
    print(i)

('Shambhu nath mishra', 47)
('Vivek', 19)
('Chotoo', 42)

In [11]:
# using order by 
sql="Select * from student order by name DESC"
mycur.execute(sql)
result= mycur.fetchall()
for i in result:
    print(i)

('Vivek', 19)
('Vivek', 19)
('Utkarsh', 19)
('Tanish', 15)
('Shambhu nath mishra', 47)
('Chotoo', 42)
('Chotoo', 42)
('Amit', 36)
('Amit', 36)

In [12]:
#delete a row from the table
sql="delete from student where age<20"
mycur.execute(sql)
result= mycur.fetchall()
for i in result:
    print(i)

InterfaceError: No result set to fetch from.

In [13]:
#drop a table
sql="drop table student"
mycur.execute(sql)